<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>


  <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,600&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
  <div id="app">

  <header>
    <!-- inizio navbar -->
    <div class="">
      <nav class="navbar dflex just_cont">
        <div class="logo">
          <img src="assets/img/MasterStudy-1.svg" alt="">
        </div>
        <div class="sotto_nav_dx dflex">
          <div class="menu_link">
            <ul class="dflex">
              <li v-for="voce in voceMenu"><a href="#">{{voce.name}}</a>
              </li>
            </ul>
          </div>
          <div class="menu_icon">
            <i class="fab fa-linkedin"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
          </div>
        </div>
      </nav>
    </div>
    <!-- fine navbar -->

    <!-- sezione centrale header -->
    <div class="main_header">
      <div class="sfondo_human">
        <div class="box_human">
          <div class="titolo_human">
            <h1 class="line1">Start your Human <span>Revolution</span> today </h1>
          </div>
          <div class="stt_human">
            <p>A Wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring witch i enjoy with my whole heart.  </p>
          </div>
        </div>
      </div>
      <div class="box_giallo">
        <div class="giallo_sx">
          <div class="box_gl_sx">
            <div class="limited">
              <h3> <span>Limited Sale:</span> All courses with 55% off </h3>
            </div>
            <div class="email">
              <form class="" action="index.html" method="post">
                <input type="text" name="" value="Enter your Email" class="input_email">
                <button type="button" name="button"class="button_email">SUBSCRIBE</button>
              </form>
            </div>
          </div>
        </div>
        <div class="giallo_dx">
          <div class="box_gl_dx">
            <div class="time">
              <p>26</p>
              <p>01</p>
              <p>47</p>
              <p>34</p>
            </div>
            <div class="day">
              <p>Days</p>
              <p>Hours</p>
              <p>Minutes</p>
              <p>Seconds</p>
            </div>
          </div>

        </div>

      </div>
      <div class="parte_bianco dflex">
        <div class="conteiner_pb_sx">
          <div class="card_pb_sx">
            <h2>Hey there, my name is John Doe. I'm the founder of the Brain Academy </h2>
          </div>
          <img class="img_firma"src="assets/img/sign.jpg" alt="">
        </div>

        <div class="conteiner_pb_dx">
          <div class="card_pb_dx">
            <p>A wanderful serenity has taken possession of my entire soul, like these sweet mornings of spring which i enjoy my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that i neglect my talents. When, while the lovely valley teems with vapour around me, and the meridian sun strikes the upper surface of the impenetrable foliage of my trees, and but a few stray gleams steal into the inner sanctuary</p>
          </div>
        </div>

      </div class="">
    </div>
    <!-- fine sezione centrale header -->
  </header>

  <main>
    <!-- sezione new courses  -->
    <div class="section_newcourses">
      <div class="tiltolo_nc">
        <h4>New Courses</h4>
      </div>
      <div class="sotto_section_nc">
          <div v-for="document in documents" class="card_courses">
            <div class="sezione_img">
              <div class="overlay">
                <div class="piu_box">
                  <h3>{{document.prezzo}}</h3>
                </div>
              </div>
              <img :src="document.img" alt="">
            </div>
            <div class="titolo_corso">
              <h4>{{document.titolo}}</h4>
            </div>
            <div class="tipo_corso">
              <p>{{document.tipo}}</p>
            </div>
            <hr>
            <div class="icone_card">
              <i class="fas fa-signal"></i>
              <p>{{document.difficolta}}</p>
              <i class="fas fa-list-ul"></i>
              <p>{{document.quantita}}</p>
              <i class="far fa-clock"></i>
              <p>{{document.durata}}</p>
            </div>
          </div>
      </div>
      <div class="gest_btn">
        <button class="button_corsi" type="button" name="button">LOAD MORE</button>
      </div>
    </div>
    <!-- fine sezione new courses -->

    <!-- sezione book -->
    <div class="section_book dflex">
      <div class="section_book_sx">
        <div class="tc titolo_book">
          <h5>Get My Exclusive Investing Book just fot $19.50</h5>
        </div>
        <div class="tc sotto_titolo_book">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint molestiae nostrum voluptatibus corporis, illum fugit.</p>
        </div>
        <div class="tc logo_fb">
          <img src="assets/img/amazon.png" alt="">
        </div>
      </div>
      <div class="section_book_dx">
        <img src="assets/img/book.png" alt="">
      </div>
    </div>
    <!-- fine sezione book -->

    <!-- sezione why my courses -->
    <div class="section_my_courses">
      <div class="my_courses">
      <div class="tc title_section_my">
        <h4>Why my Courses</h4>
      </div>
      <div class="box1_myCourses">
        <div class="Entrepership">
          <div class="card_entre dflex">
            <div class="icon_my">
              <i class="fas fa-briefcase"></i>
            </div>
            <div class="tema_my">
              <div class="titolo_my">
                <h3>Entrepreneurship</h3>
              </div>
              <div class="text_my">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis molestias accusamus voluptatibus porro atque aperiam omnis reprehenderit possimus ex assumenda, expedita soluta dignissimos animi.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="Accellerated">
          <div class="card_entre dflex">
            <div class="icon_my">
              <i class="fas fa-rocket"></i>
            </div>
            <div class="tema_my">
              <div class="titolo_my">
                <h3>Accellerated Learning</h3>
              </div>
              <div class="text_my">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis molestias accusamus voluptatibus porro atque aperiam omnis reprehenderit possimus ex assumenda, expedita soluta dignissimos animi.</p>
              </div>
            </div>
          </div>
        </div>
        </div>
      <div class="box2_myCourses">
        <div class="productivity">
          <div class="card_entre dflex">
            <div class="icon_my">
              <i class="far fa-thumbs-up"></i>
            </div>
            <div class="tema_my">
              <div class="titolo_my">
                <h3>Productivity</h3>
              </div>
              <div class="text_my">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis molestias accusamus voluptatibus porro atque aperiam omnis reprehenderit possimus ex assumenda, expedita soluta dignissimos animi.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="Life">
          <div class="card_entre dflex">
            <div class="icon_my">
              <i class="fas fa-cog"></i>
            </div>
            <div class="tema_my">
              <div class="titolo_my">
                <h3>Life Coaching</h3>
              </div>
              <div class="text_my">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis molestias accusamus voluptatibus porro atque aperiam omnis reprehenderit possimus ex assumenda, expedita soluta dignissimos animi.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    </div>
    <!-- fine sezione why my courses -->

    <!-- sezione icone -->
    <div class="section_icons">
      <div class="box_icone dflex">
        <div class="leraner dflex">
         <div class="">
           <i class="fas fa-user-friends"></i>
         </div>
         <div class="">
           <p>3195</p>
           <p>Online Learner</p>
         </div>
        </div>
        <div class="leraner dflex">
         <div class="">
           <i class="fas fa-film"></i>
         </div>
         <div class="">
           <p>23</p>
           <p>Video Courses</p>
         </div>
        </div>
        <div class="leraner dflex">
         <div class="">
           <i class="far fa-image"></i>
         </div>
         <div class="">
           <p>1440</p>
           <p>Sliders & Images</p>
         </div>
        </div>
        <div class="leraner dflex">
         <div class="">
           <i class="far fa-thumbs-up"></i>
         </div>
         <div class="">
           <p>345</p>
           <p>Excellent Reviews</p>
         </div>
        </div>
      </div>
    </div>
    <!-- fine sezione icone -->

    <!-- sezione recensioni -->
    <div class="section_recensioni">
      <div class="tc">
        <h4>What Students Say</h4>
      </div>
      <!--  -->
      <div class="container_slider">
        <div class="slider_wrapper dflex">
          <div class="prev" @click="prevImg">
            <i class="fas fa-arrow-left"></i>
          </div>
          <div class="images_slider">
            <img class="active" :src="avatar[counter]" alt="">
          </div>
          <div class="next" @click="nextImg">
            <i class="fas fa-arrow-right"></i>
          </div>
        </div>
        <div class="">
        </div>
      </div>

      <div class="tc">
        <h3>Paints to the future</h3>
      </div>
      <div class="dflex just_cont_cent rec_stelle">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
      <div class="tc mt_30">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi odio accusamus quae porro aut animi voluptates laudantium itaque sapiente recusandae perferendis ipsa vitae voluptate ducimus similique ab, voluptas eveniet blanditiis sit aliquam placeat, rem atque et. Consequatur veritatis, in exercitationem distinctio. Voluptatem eum maxime cum aut? Quos, voluptatibus placeat similique.</p>
      </div>
    </div>

    <!-- fine sezione recensioni -->
  </main>

  <footer>
    <div class="section_footer">
      <div class="box_footer">
        <div class="box_sott_foot box_ab">
          <h4>ABOUT</h4>
          <ul v-for="voce in voceMenu">
            <li>{{voce.about}}</li>
          </ul>
          <div class="">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
          </div>

        </div>
        <div class="box_sott_foot box_cont">
          <h4>CONCACT</h4>
          <ul v-for="voce in voceMenu">
            <li>{{voce.contact}}</li>
          </ul>

        </div>
        <div class="box_sott_foot box_pag">
          <h4>PAGES</h4>
          <div class="list_pag">
            <div class="pag_sx">
              <ul>
                <li>Blog</li>
                <li>Home</li>
                <li>Shortecodes</li>
              </ul>
            </div>
            <div class="pag_dx">
              <ul>
                <li>Courses</li>
                <li>Membership</li>
                <li>Typography</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="box_sott_foot box_blog">
          <h4>BLOG</h4>
          <div v-for="item in blog" class="dflex">
            <div class="">
              <img :src="item.img" alt="">
            </div>
            <div class="text_blog">
              <h4>{{item.title}}</h4>
              <p>{{item.data}}</p>
            </div>
          </div>

        </div>
      </div>



    </div>
  </footer>
  </div>







  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="assets/js/main.js" charset="utf-8"></script>
</body>
</html>
<!--  -->
