* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: auto;
}

/* utility */
.dflex {
  display: flex;
}
.just_cont {
  justify-content: space-between;
}


/* sezione navbar */
.navbar {
  margin: auto;
  width: 60%;
  height: 100px;
}
.logo {
  padding-top: 31px
}
.logo img {
  height: 33px;
}
.menu_link {
  padding-top: 40px
}
.menu_link li {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px
}
.menu_link a {
  text-decoration: none;
  color: #373839
}
.menu_icon {
  display: flex;
  margin-left: 30px;
  padding-top: 40px;
}
.menu_icon i{
  margin-left: 5px;
  margin-right: 5px
}
/* fine sezione navbar */

/* sezione centrale header */
.main_header{
 position: relative;
}

/* sezione sfondo */
.sfondo_human {
  height: 625px;
  background-image: url(../img/slide-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* fine sezione sfondo */
/* sezione box giallo */
.box_giallo {
  height: 170px;
  width: 983px;
  background-color: #f2b71d;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -7%);
}
/* fine sezione box giallo */
/* sezione parte bianca */
.parte_bianco {
  width: 60%;
  margin: auto;
  height: 400px;
}

.conteiner_pb_sx, .conteiner_pb_dx{
  width: 50%;
  position: relative;
}
.card_pb_sx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card_pb_dx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 360px;
}
/* fine sezione parte bianca */
/* fine sezione centrale header */

/* sezione main */
/* sezione new courses */
.section_newcourses {
  height: 700px;
  background-color: #e4e7e7;
}
.sotto_section_nc {
  width: 60%;
  margin: auto;
}
.card_courses {

}
/* fine sezione new courses */

/* sezione section_book */
.section_book {
  height: 456px;
  background-image: url(../img/libreria.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* fine sezione section_book  */

/* sezione why my courses  */
.section_my_courses {
  height: 550px;

}
/* fine sezione why my courses */

/* sezione icone */
.section_icons {
  height: 412px;
  background-image:url(../img/persone.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* fine sezione icone */

/* sezione recensioni */
.section_recensioni {
height: 420px;
}
/* fine sezione recensioni */
/* fine sezione main */

/* sezione footer */
/* section footer */
.section_footer {
  height: 250px;
  background-color:#f2b71d;
}
