* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  max-width: 1440px;
  margin: auto;
}

/* utility */
.mt_50{
  margin-top: 50px
}
.mt_30{
  margin-top: 30px
}
.dflex {
  display: flex;
}
.just_cont {
  justify-content: space-between;
}
.just_cont_cent {
  justify-content:center
}
.tc {
  text-align: center;
}
.line1{
  line-height: 1.1
}
.pt_10{
  padding-top: 10px
}
h1 {
    font-family: 'Roboto Slab';
}
h2{
    font-family: 'Roboto Slab';
}
p{
  font-family:  'Open Sans';
}


/* sezione navbar */
.navbar {
  margin: auto;
  width: 60%;
  height: 100px;
}
.logo {
  padding-top: 34px
}
.logo img {
  height: 32px;
}
.menu_link {
  padding-top: 40px
}
.menu_link li {
  list-style-type: none;
  margin-left: 10px;
  margin-right: 10px
}
.menu_link a {
  text-decoration: none;
  color: #373839;
  font-family: 'Roboto Slab';
  font-weight: 600;
  font-size: 14px
}
.menu_icon {
  display: flex;
  margin-left: 30px;
  padding-top: 40px;
}
.menu_icon i{
  margin-left: 5px;
  margin-right: 5px
}
/* fine sezione navbar */

/* sezione centrale header */
.main_header{
 position: relative;
 height: 1065px;
}

/* sezione sfondo */
.sfondo_human {
  height: 625px;
  background-image: url(../img/slide-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.box_human {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-10%, -82%);
}
.titolo_human{
  font-size: 26px;
}
.titolo_human span{
  color: #f2b71d
}
.stt_human {
  width: 445px;
  padding-top: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.9;
}

/* fine sezione sfondo */
/* sezione box giallo */
.box_giallo {
  height: 170px;
  width: 983px;
  background-color: #f2b71d;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -7%);
  display: flex;
}
.giallo_sx{
  width: 60%;
  height: 100%;
  position: relative;
}
.box_gl_sx{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.limited{
  width: 500px;
  padding-bottom: 20px;
  font-size: 21px;
}
.limited h3 {
  font-family: 'Roboto Slab';
  font-weight: 700;
}
.limited span {
  color: #ffffff
}
.input_email{
  width: 400px;
  height: 43px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 11px;
  outline: none;
  box-sizing: border-box;
  padding: 15px;
  border: 2px solid white;
  border-radius: 25px;
  color: #bcbcbc
}
.button_email{
  height: 43px;
  width: 108px;
  border-radius: 25px;
  outline: none;
  padding: 5px;
  position: absolute;
  left: 347px;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 11px;
  padding-top: 14px;
  padding-bottom: 15px;
  color: white;
  background-color: #4d5156
  }
}
}
.giallo_dx{
  width: 40%;
  position: relative;
}

.box_gl_dx{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(22%, -71%);
}
.time{
  display: flex;
  justify-content: space-between;
}
.time p{
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 52px;
  padding: 7px;
  color: #ffffff;
  margin-right: 15px
}
.day{
  display: flex;
  width: 280px;
  position: absolute;
top: 50%;
left: 50%;
transform: translate(-64%, 200%);
}
.day p {
  font-family: 'Roboto Slab';
  font-weight: 700;
  font-size: 14px;
  padding-left: 27px;
  margin-right: 16px
}
.day p:last-child {
  margin-left: -14px
}
.day p:nth-child(2){
  margin-left: 5px
}
/* fine sezione box giallo */
/* sezione parte bianca */
.parte_bianco {
  width: 60%;
  margin: auto;
  height: 400px;
}

.conteiner_pb_sx{
  width: 35%;
  position: relative;
}
.conteiner_pb_dx{
  width: 75%;
  position: relative;
}
.card_pb_sx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-39%, -50%);
      width: 340px;
}
.card_pb_sx h2{
  font-weight: 700;
  font-size: 26px;
  line-height: 1.4;
}
.img_firma{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-17%, 112%);
  height: 80px;
}
.card_pb_dx {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-32%, -32%);
  width: 516px;
font-size: 13px;
line-height: 1.9;
}
.card_pb_dx p {
  font-family:  'Open Sans';
}
/* fine sezione parte bianca */
/* fine sezione centrale header */

/* sezione main */
/* sezione new courses */
.section_newcourses {
  height: 1010px;
  background-color: #e4e7e7;
}
.section_newcourses h4{
  font-family: 'Roboto Slab';
}
.sotto_section_nc {
  width: 60%;
  margin: auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.tiltolo_nc {
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  padding-bottom: 10px
}
.card_courses {
  width: 275px;
  height: 335px;
  background-color: white;
  margin-top: 35px;
}
.sezione_img {
  position: relative;
  height: 180px;
}
.overlay {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
}
.sezione_img img {
  height: 180px;
  width: 275px;
}
.titolo_corso {
  max-width: 253px;
  margin: auto;
  text-align: center;
  padding-top: 20px;
}

.tipo_corso {
  text-align: center;
  padding: 10px;
}
.tipo_corso p{
  font-size: 12px;
  color:#bcbcbc
}
.card_courses hr {
  max-width: 200px;
  margin: auto;
  color: #bcbcbc;
  background-color: #bcbcbc;
  border: 0;
  height: 1px
}
.icone_card {
  display: flex;
  justify-content: space-between;
  max-width: 200px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.icone_card i {
  font-size: 12px;
  padding-right: 20px;
  color:#f2b71d
}
.icone_card p {
  font-size: 10px;
  margin-left: -20px
}

.piu_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 28px;
}
.gest_btn{
  display: flex;
  justify-content: center;
}
.button_corsi{
  padding: 10px;
border-radius: 20px;
width: 100px;
font-size: 11px;
color: #ffffff;
background-color: #f2b71d;
border: none;
margin-top: 50px;
height: 37px
}

.sezione_img:hover .overlay{
  display: block;
  cursor: pointer;
}
/* fine sezione new courses */

/* sezione section_book */
.section_book {
  height: 456px;
  background-image: url(../img/libreria.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.section_book h5{
  font-family: 'Roboto Slab'
}
.section_book p{
  font-family: 'Open Sans';
  font-style: italic;
  font-size: 20px
}
.section_book_sx{
  width: 70%;
  height: 100%
}
.section_book_dx{
  width: 30%;
  height: 100%;
  position: relative;
}
.section_book_dx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-110%, -47%);
  height: 430px;
}
.section_book_sx{
  position: relative;
}
.titolo_book{
  width: 517px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -162px);
  color: orange;
  font-size: 40px
}

.sotto_titolo_book{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -57%);
  font-size: 21px;
  color: white;
}
.logo_fb{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 102%);
}
.logo_fb img{
  height: 65px
}


/* fine sezione section_book  */

/* sezione why my courses  */
.section_my_courses{
  height: 725px;
}
.title_section_my h4{
  font-family: 'Roboto Slab';
}
.my_courses {
  max-width: 60%;
  margin: auto;
}
.title_section_my{
  padding-top: 50px;
  font-size: 40px;
}
.box1_myCourses{
  width: 100%;
  height: 50%;
  display:flex;
}
.box2_myCourses{
  width: 100%;
  height: 50%;

  display:flex;
}
.Entrepership{
  width: 410px;
  height: 209px;
  background-color: white;
  margin-right: 5%;
  margin-top: 70px;
  border-left: 5px solid #f2b71d;
}
.card_entre{
  width: 405px;
  height: 209px;
  position: relative;
  box-shadow: 1px 1px 1px 1px lightgrey;
}
.icon_my{
  position: absolute;
  font-size: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-435%, -150%);
  color: #f2b71d;
}
.titolo_my{
 width: 310px
}
.tema_my{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-57%, -33%);
}
.box1_myCourses h3, .box2_myCourses h3{
  font-size: 25px;
}
.text_my {
height: 100px;
width: 310px;
margin-top: 20px;
line-height: 1.9;
font-size: 12px
}


.Accellerated{
  width: 410px;
  height: 209px;
  background-color: white;
  margin-top: 70px;
  border-left: 5px solid #f2b71d
}
.productivity{
  width: 410px;
  height: 209px;
  background-color: white;
  margin-right: 5%;
  margin-top: 40px;
  border-left: 5px solid #f2b71d
}

.Life{
  width: 410px;
  height: 209px;
  background-color: white;
  border-left: 5px solid #f2b71d;
  margin-top: 40px;
}
/* fine sezione why my courses */

/* sezione icone */
.section_icons {
  height: 412px;
  background-image:url(../img/persone.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.box_icone {
  position: absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%, -50%);
}

.section_icons .fas, .section_icons .far {
  font-size: 55px
}
.section_icons p:first-of-type{
  font-size: 33px;
    margin-left: 15px;
    margin-top: -4px;
    color: #f2b71d;
    font-weight: 600;
}
.section_icons p{
  margin-left: 15px;
    margin-top: -5px;
    font-size: 13px;
    font-family:  'Roboto Slab';
    width: 113px
}
.leraner{
  margin-left: 85px;
  margin-right: 55px;
  color: white;
}

/* fine sezione icone */

/* sezione recensioni */
.section_recensioni {
height: 540px;
width: 60%;
margin: auto;
}
.section_recensioni h4{
  padding-top: 50px;
  font-size: 40px;
    font-family: 'Roboto Slab';

}
.section_recensioni h3{
  font-family: 'Roboto Slab';
  font-size: 19px;
margin-bottom: 3px;
}
.section_recensioni p{
  width: 849px;
line-height: 1.9;
font-size: 15px;
}
.container_slider {
width: 60%;
margin: auto;
height: 155px;
}
.slider_wrapper {
  position: relative;
  justify-content: center;
  padding-top: 50px;
}
.slider_wrapper .prev{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-900%, 80%);
}
.slider_wrapper .next{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(850%, 80%);
}
.slider_wrapper .images_slider img {
  display: none;
  height: 100%;
  border-radius: 50%;
  height: 85px
}
.slider_wrapper .images_slider img.active {
  display: inline-block;
}
.rec_stelle{
  padding-top: 5px;
  color: #f2b71d;
}
/* fine sezione recensioni */
/* fine sezione main */

/* sezione footer */
/* section footer */
.section_footer {
  height: 250px;
  background-color:#f2b71d;
}
.box_footer{
  width: 60%;
  margin: auto;
  display:flex;
  justify-content: space-between;
}
.box_sott_foot{
  width: 25%;
  margin-top: 40px;
}
.box_sott_foot h4{
  margin-bottom: 20px;
  font-family: 'Roboto Slab';
  font-weight: 500;
}
.box_ab li, .box_cont li{
  list-style-type: none;
  margin-bottom: 5px;
  font-family:  'Open Sans';
  font-size: 12px;
}
.box_sott_foot i{
  margin-right: 10px;
  margin-top: 10px
}
.list_pag li{
font-family:  'Open Sans';
font-size: 12px;
margin-bottom: 10px;
}
.text_blog h4{
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-left: 10px
}
.text_blog p{
  font-family:  'Open Sans';
  font-size: 12px;
  margin-left: 10px;
  margin-top: -6px;
  color: #6b6b6b;

}
.box_pag {
  position: relative;
}
.list_pag{
  width: 100%;
  display: flex;
}
.pag_sx{
  width: 50%;
  height: 100%;
  list-style-position:inside;
}
.pag_dx{
  width: 50%;
  height: 100%;
  list-style-position:inside;
}
.box_sott_foot img{
  height: 60px;
  margin-bottom: 16px;
}
